<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if SITESUBTITLE %}
    <meta name="description" content="{{ SITESUBTITLE }}" />
    {% endif %}
    <meta name="keywords" content="Luís, Nabais, luisnabais, luis_nabais, job, emprego, freelancer, freelancer, freelance, devops, project manager, project management, gestao de projectos, gestor de projectos, gestão de projectos, formador, formação, teacher, consultoria, consulting, freelancer, portugal, lisboa, odivelas, leadership, team leader, team leadership, liderança, equipa, equipas, líder, motivation, motivational, motivação, motivacional, personal development, desenvolvimento pessoal, growth, crescimento, evolucao, evolução">
    <meta name="fediverse:creator" content="@luisnabais@mastodon.social">
    <title>{% if title %}{{ title }} - {% endif %}{{ SITENAME }}</title>
    <!--title>{% block title %}{{ SITENAME }}{% endblock %}</title-->
    {% if STYLESHEET_URL %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header id="main-header">
        <a href="/" class="home-link"><img id="profile-pic" src="{{ SITELOGO }}" class="circular" alt="Profile image"/></a>
        <div class="header-text">
            <h1 id="site-title">{{ SITENAME }}</h1>
            <p id="ln-desc">
                {{ SITESUBTITLE }}
            </p>
        </div>
        
        {% include "partial/nav.html" %}
    </header>

    <div class="content-wrapper">
        <main>
            {% block content %}{% endblock %}
        </main>

        <section id="social">
            <ul class="social-links">
                <li>
                    <a target="_blank" href="https://linkedin.com/in/luisnabais"><span class="fa-brands fa-linkedin fa-2x"></span></a>
                </li>
                <li>
                    <a target="_blank" rel="me" href="https://mastodon.social/@luisnabais"><span class="fa-brands fa-mastodon fa-2x"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/luis_nabais"><span class="fa-brands fa-x-twitter fa-2x"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/luisnabais"><span class="fa-brands fa-github fa-2x"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://gitlab.com/luisnabais"><span class="fa-brands fa-gitlab fa-2x"></span></a>
                </li>
            </ul>
        </section>
    </div>

    <footer id="main-footer">
        <p class="footer-text">If you detect any issue, please give your feedback <a target="_blank" href="https://github.com/luisnabais/luisnabais.github.io/issues">here</a>.</p>
        <p class="footer-text">This website is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GNU General Public License v3</a>.</p>
    </footer>
</body>

</html>
